n8n-workflows/yukassa-create-payment.json
{
  "name": "Web_YuKassa_Create_Payment",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "yukassa-create-payment",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "https://vlztranss-cell.github.io"
        }
      },
      "id": "webhook-1",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.yookassa.ru/v3/payments",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Idempotence-Key",
              "value": "={{ $runIndex }}-{{ $json.body.session_id }}-{{ Date.now() }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"amount\":{\"value\":\"{{ $json.body.amount }}.00\",\"currency\":\"RUB\"},\"capture\":true,\"description\":\"VideoAI - {{ $json.body.plan }}\",\"confirmation\":{\"type\":\"redirect\",\"return_url\":\"{{ $json.body.return_url }}\"},\"receipt\":{\"tax_system_code\":1,\"customer\":{\"email\":\"{{ $json.body.email }}\"},\"items\":[{\"description\":\"VideoAI - {{ $json.body.plan }}\",\"quantity\":\"1.0\",\"amount\":{\"value\":\"{{ $json.body.amount }}.00\",\"currency\":\"RUB\"},\"vat_code\":1,\"payment_subject\":\"service\",\"payment_mode\":\"full_payment\"}]},\"metadata\":{\"source\":\"web\",\"plan\":\"{{ $json.body.plan }}\",\"email\":\"{{ $json.body.email }}\",\"session_id\":\"{{ $json.body.session_id }}\"}}",
        "options": {}
      },
      "id": "yukassa-create",
      "name": "YuKassa Create Payment",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 300],
      "credentials": {
        "httpBasicAuth": {
          "id": "YUKASSA_CREDENTIAL_ID",
          "name": "юкасса 23.10.2026"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE web_orders\nSET payment_id = '{{ $json.id }}',\n    email = '{{ $('Webhook').item.json.body.email }}',\n    tariff_code = '{{ $('Webhook').item.json.body.plan }}',\n    amount_rub = {{ $('Webhook').item.json.body.amount }},\n    is_paid = 'pending',\n    generations_limit = CASE\n      WHEN '{{ $('Webhook').item.json.body.plan }}' = 'starter' THEN 10\n      WHEN '{{ $('Webhook').item.json.body.plan }}' = 'pro' THEN 50\n      WHEN '{{ $('Webhook').item.json.body.plan }}' = 'business' THEN 200\n      ELSE 0\n    END\nWHERE session_id = '{{ $('Webhook').item.json.body.session_id }}'\n  AND (is_paid = 'no' OR is_paid IS NULL)\nRETURNING id;\n\nINSERT INTO web_orders (session_id, email, tariff_code, amount_rub, is_paid, payment_id, generations_limit, status)\nSELECT\n  '{{ $('Webhook').item.json.body.session_id }}',\n  '{{ $('Webhook').item.json.body.email }}',\n  '{{ $('Webhook').item.json.body.plan }}',\n  {{ $('Webhook').item.json.body.amount }},\n  'pending',\n  '{{ $json.id }}',\n  CASE\n    WHEN '{{ $('Webhook').item.json.body.plan }}' = 'starter' THEN 10\n    WHEN '{{ $('Webhook').item.json.body.plan }}' = 'pro' THEN 50\n    WHEN '{{ $('Webhook').item.json.body.plan }}' = 'business' THEN 200\n    ELSE 0\n  END,\n  'payment_created'\nWHERE NOT EXISTS (\n  SELECT 1 FROM web_orders\n  WHERE session_id = '{{ $('Webhook').item.json.body.session_id }}'\n    AND payment_id = '{{ $json.id }}'\n);",
        "options": {}
      },
      "id": "pg-save",
      "name": "Save to PostgreSQL",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [900, 300],
      "credentials": {
        "postgres": {
          "id": "POSTGRES_CREDENTIAL_ID",
          "name": "ssh root@72.56.96.64"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"confirmation_url\": \"{{ $('YuKassa Create Payment').item.json.confirmation.confirmation_url }}\",\n  \"payment_id\": \"{{ $('YuKassa Create Payment').item.json.id }}\"\n}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "https://vlztranss-cell.github.io"
              }
            ]
          }
        }
      },
      "id": "respond-ok",
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1120, 240]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"error\": \"{{ $json.message || 'Не удалось создать платёж' }}\"\n}",
        "options": {
          "responseCode": 500,
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "https://vlztranss-cell.github.io"
              }
            ]
          }
        }
      },
      "id": "respond-error",
      "name": "Respond Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1120, 420]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.confirmation?.confirmation_url }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "isNotEmpty"
              }
            }
          ]
        }
      },
      "id": "if-ok",
      "name": "Payment Created?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "validate-1",
              "name": "email",
              "value": "={{ $json.body.email }}",
              "type": "string"
            },
            {
              "id": "validate-2",
              "name": "amount",
              "value": "={{ $json.body.amount }}",
              "type": "number"
            },
            {
              "id": "validate-3",
              "name": "plan",
              "value": "={{ $json.body.plan }}",
              "type": "string"
            }
          ]
        }
      },
      "id": "validate",
      "name": "Validate Input",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [240, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          { "node": "Payment Created?", "type": "main", "index": 0 }
        ]
      ]
    },
    "Payment Created?": {
      "main": [
        [
          { "node": "YuKassa Create Payment", "type": "main", "index": 0 }
        ],
        [
          { "node": "Respond Error", "type": "main", "index": 0 }
        ]
      ]
    },
    "YuKassa Create Payment": {
      "main": [
        [
          { "node": "Save to PostgreSQL", "type": "main", "index": 0 }
        ]
      ]
    },
    "Save to PostgreSQL": {
      "main": [
        [
          { "node": "Respond OK", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    { "name": "VideoAI" },
    { "name": "Payment" }
  ]
}
